@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.selectFiel__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& label {
		@include label;
		color: $accent-color;
		font-weight: $fw-bold;
	}
	& select {
		@include select;
		border-bottom: 1px solid $accent-color;
		border-bottom-left-radius: 0;
	}
}
