@import "../../../../styles/functions.scss";
@import "../../../../styles/mixins.scss";

.searchbar__container {
	display: flex;
	border-bottom: 1px solid $background-dark-color-40;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 1rem;
	margin: 1rem 0;
	padding: 1.5rem 2rem;
	padding-bottom: 0;
	min-width: 310px;

	&__input {
		@include input;
		max-width: 483px;
	}

	&__submit {
		@include button-cta;
		align-self: center;
		max-width: fit-content;
		box-shadow: shadow(0, 2px, 5px, 0.5px);
		display: flex;
		align-items: center;
		gap: 1rem;
		border-radius: 50px;

		& span {
			display: none;
		}
	}

	&__reset {
		margin: 1rem;

		&__button {
			@include button-cta;
			background-color: transparent;
			color: $danger-color;
		}

		&__loading {
			margin: 1rem;
		}
	}
}

@media (min-width: 600px) {
	.searchbar__container {
		max-width: 800px;

		&__input {
			@include input;
			min-width: 483px;
			align-self: center;
		}

		&__submit {
			border-radius: 1rem;

			& span {
				display: block;
			}
		}
	}
}
