@keyframes ldio-25rdrhw1ja3 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.ldio-25rdrhw1ja3 div {
	position: absolute;
	width: 30.01px;
	height: 30.01px;
	border: 10px solid #90006f;
	border-top-color: transparent;
	border-radius: 50%;
}
.ldio-25rdrhw1ja3 div {
	animation: ldio-25rdrhw1ja3 0.78125s cubic-bezier(0.68, -0.55, 0.27, 1.55)
		infinite;
}
.loadingio-spinner-rolling-133dpb1nd09h {
	width: fit-content;
	height: fit-content;
}
.ldio-25rdrhw1ja3 {
	width: 100%;
	height: 100%;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-25rdrhw1ja3 div {
	box-sizing: content-box;
}
